* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    background-color: transparent;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Make all modules semi-transparent */
window#waybar * {
    background-color: rgba(0, 0, 0, 0.3);
}

#workspaces {
    border-radius: 20px;
    border: 2px solid #21D6C9;
    padding: 5px;
    font-size: 14px;
}

#idle_inhibitor {
    border-radius: 20px;
    border: 2px solid #21D6C9;
    padding: 5px;
    font-size: 14px;
}

#tray {
    border-radius: 20px;
    border: 2px solid #21D6C9;
    padding: 5px;
}

#power {
    border-radius: 20px;
    border: 2px solid #21D6C9;
    padding: 5px;
}

#power #power-profiles-daemon {
    font-size: 14px;
    margin-left: 8px;
    min-width: 24px;
}

#power #battery {
    font-size: 14px;
    margin-left: 4px;
}

#power #custom-power {
    font-size: 14px;
    margin-left: 4px;
}

#hardware {
    border-radius: 20px;
    border: 2px solid #21D6C9;
    padding: 5px;
}

#hardware #temperature {
    font-size: 14px;
    margin-left: 12px;
}

#hardware #disk {
    font-size: 14px;
    margin-left: 12px;
}

#hardware #memory {
    font-size: 14px;
    margin-left: 12px;
}

#hardware #cpu {
    font-size: 14px;
}

#clock {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #21D6C9;
    padding: 5px;
}

#backlight {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #21D6C9;
    padding: 5px;
}

#pulseaudio {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #21D6C9;
    padding: 5px;
}

#network {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #21D6C9;
    padding: 5px;
}